@*@model IEnumerable<ToyStore.Models.Category>
*@

@using ToyStore.Models;
@using ToyStore.ViewsModel;
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@foreach(var item in Model)
{
  <td>@Html.DisplayFor(modelItem => item.toy_name)</td>
                  

}*@

@*<table class="table">
    @foreach (Category p in Model.categories)
    {
        <tr><td>@p.toy_name</td>
  }
</table>*@

